body, html{
  background: linear-gradient(rgba(5,206,206,1) ,rgba(7,27,82,1)) no-repeat center center fixed; 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption{
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.25); */
  /* background-size:  */
  width: 100%;
  text-align: center;
  color: #fff;
}
.main{
  display: flex;
  align-content: center;
  flex-direction: column;
}
.btn-default:hover{
  background-color: rgb(255, 255, 0);
  border-color: rgb(255, 255, 0);
  border-width: 5px;
  cursor: pointer;
  color: black;
}

.form{
  color: black;
  font-weight: bold;
  font-size: 14pt;
  background-color: rgba(7,27,82,0.15); 
  /* opacity: 0.5; */
  background-size: 150% 150%;
  align-content: center;
  padding: 25px;
}

